<?xml version="1.0"?>
<ServerSettings>
  <property name="ServerPort" value="26900" />
  <!-- Port you want the server to listen on. -->

  <property name="ServerVisibility" value="{{ server_config_visibility }}" />
  <!-- Visibility of this server: 2 = public, 1 = only shown to friends, 0 = not listed. As you are never friend of a dedicated server setting this to "1" will only work when the first player connects manually by IP. -->

  <property name="ServerName" value="{{ server_config_name }}" />
  <!-- Whatever you want the name of the server to be. -->

  <property name="ServerPassword" value="{{ server_config_password }}" />
  <!-- Password to gain entry to the server -->

  <property name="ServerMaxPlayerCount" value="{{ server_config_max_player_count }}" />
  <!-- Maximum Concurrent Players -->

  <property name="ServerReservedSlots" value="{{ server_config_reserved_slots }}" />
  <!-- Out of the MaxPlayerCount this many slots can only be used by players with a specific permission level -->

  <property name="ServerReservedSlotsPermission" value="100" />
  <!-- Required permission level to use reserved slots above -->

  <property name="ServerAdminSlots" value="{{ server_config_admin_slots }}" />
  <!-- This many admins can still join even if the server has reached MaxPlayerCount -->

  <property name="ServerAdminSlotsPermission" value="0" />
  <!-- Required permission level to use the admin slots above -->

  <property name="ServerDescription" value="{{ server_config_desc }}" />
  <!-- Whatever you want the server description to be, will be shown in the server browser. -->

  <property name="ServerWebsiteURL" value="" />
  <!-- Website URL for the server, will be shown in the serverbrowser as a clickable link -->

  <property name="ServerDisabledNetworkProtocols" value="SteamNetworking" />
  <!-- Networking protocols that should not be used. Separated by comma. Possible values: LiteNetLib, SteamNetworking. Dedicated servers should disable SteamNetworking if there is no NAT router in between your users and the server or when port-forwarding is set up correctly -->

  <property name="ServerMaxWorldTransferSpeedKiBs" value="{{ server_max_world_xfer_kibs }}" />
  <!-- Maximum (!) speed in kiB/s the world is transferred at to a client on first connect if it does not have the world yet. Maximum is about 1300 kiB/s, even if you set a higher value. -->

  <property name="GameWorld" value="{{ server_config_game_world }}" />
  <!-- RWG (see WorldGenSeed and WorldGenSize options below) or any already existing world name in the Worlds folder (currently shipping with Navezgane) -->

  <property name="WorldGenSeed" value="{{ server_config_gen_seed }}" />
  <!-- If RWG this is the seed for the generation of the new world. If a world with the resulting name already exists it will simply load it -->

  <property name="WorldGenSize" value="{{ server_config_game_world_size }}" />
  <!-- If RWG this controls the width and height of the created world. It is also used in combination with WorldGenSeed to create the internal RWG seed thus also creating a unique map name even if using the same WorldGenSeed. Has to be between 2048 and 16384, though large map sizes will take long to generate / download / load -->

  <property name="GameName" value="{{ server_config_game_name }}" />
  <!-- Whatever you want the game name to be. This affects the save game name as well as the seed used when placing decoration (trees etc) in the world. It does not control the generic layout of the world if creating an RWG world -->

  <property name="GameDifficulty" value="{{ server_config_game_difficulty }}" />
  <!-- 0 - 5, 0=easiest, 5=hardest -->

  <property name="GameMode" value="{{ server_config_game_mode }}" />
  <!-- GameModeSurvival -->

  <property name="ZombieMove" value="{{ server_config_zombies_move }}" />
  <!-- 0-4 (walk, jog, run, sprint, nightmare) -->

  <property name="ZombieMoveNight" value="{{ server_config_zombies_move_night }}" />
  <!-- 0-4 (walk, jog, run, sprint, nightmare) -->

  <property name="ZombieFeralMove" value="{{ server_config_zombies_feral_move }}" />
  <!-- 0-4 (walk, jog, run, sprint, nightmare) -->

  <property name="ZombieBMMove" value="{{ server_config_zombies_bloodmoon_move }}" />
  <!-- 0-4 (walk, jog, run, sprint, nightmare) -->

  <property name="BuildCreate" value="{{ 'true' if server_config_cheat_mode else 'false' }}" />
  <!-- cheat mode on/off -->

  <property name="DayNightLength" value="{{ server_config_day_night_length }}" />
  <!-- real time minutes per in game day: 60 minutes -->

  <property name="DayLightLength" value="{{ server_config_day_light_length }}" />
  <!-- in game hours the sun shines per day: 18 hours day light per in game day -->

  <property name="PlayerKillingMode" value="{{ server_config_player_killing_mode }}" />
  <!-- Player Killing Settings (0 = No Killing, 1 = Kill Allies Only, 2 = Kill Strangers Only, 3 = Kill Everyone) -->

  <property name="PersistentPlayerProfiles" value="{{ 'true' if server_config_persistent_profiles else 'false' }}" />
  <!-- If disabled a player can join with any selected profile. If true they will join with the last profile they joined with -->

  <property name="PlayerSafeZoneLevel" value="{{ server_config_player_safe_zone_level }}" />
  <!-- If a player is less or equal this level he will create a safe zone (no enemies) when spawned -->

  <property name="PlayerSafeZoneHours" value="{{ server_config_player_safe_zone_hours }}" />
  <!-- Hours in world time this safe zone exists -->

  <property name="ControlPanelEnabled" value="{{ 'true' if server_config_admin_controlpanel_enabled else 'false' }}" />
  <!-- Enable/Disable the web control panel -->

  <property name="ControlPanelPort" value="{{ server_config_admin_controlpanel_port }}" />
  <!-- Port of the control panel webpage -->

  <property name="ControlPanelPassword" value="{{ server_config_admin_controlpanel_password }}" />
  <!-- Password to gain entry to the control panel -->

  <property name="TelnetEnabled" value="true" />
  <!-- Enable/Disable the telnet -->

  <property name="TelnetPort" value="{{ server_config_admin_telnet_port }}" />
  <!-- Port of the telnet server -->

  <property name="TelnetPassword" value="{{ server_config_admin_password }}" />
  <!-- Password to gain entry to telnet interface. If no password is set the server will only listen on the local loopback interface -->

  <property name="TelnetFailedLoginLimit" value="10" />
  <!-- After this many wrong passwords from a single remote client the client will be blocked from connecting to the Telnet interface -->

  <property name="TelnetFailedLoginsBlocktime" value="10" />
  <!-- How long will the block persist (in seconds) -->

  <property name="TerminalWindowEnabled" value="false" />
  <!-- Show a terminal window for log output / command input (Windows only) -->

  <property name="AdminFileName" value="serveradmin.xml" />
  <!-- Server admin file name. Path relative to the SaveGameFolder -->

  <property name="DropOnDeath" value="{{ server_config_drop_on_death }}" />
  <!-- 0 = nothing, 1 = everything, 2 = toolbelt only, 3 = backpack only, 4 = delete all -->

  <property name="DropOnQuit" value="{{ server_config_drop_on_quit }}" />
  <!-- 0 = nothing, 1 = everything, 2 = toolbelt only, 3 = backpack only -->

  <property name="BloodMoonFrequency" value="{{ server_config_blood_moon_frequency }}" />
  <!-- What frequency (in days) should a blood moon take place -->

  <property name="BloodMoonRange" value="{{ server_config_blood_moon_range }}" />
  <!-- How many days can the actual blood moon day randomly deviate from the above setting. Setting this to 0 makes blood moons happen exactly each Nth day as specified in BloodMoonFrequency -->

  <property name="BloodMoonWarning" value="{{ server_config_blood_moon_warning }}" />
  <!-- The Hour number that the red day number begins on a blood moon day. Setting this to -1 makes the red never show. -->

  <property name="LandClaimCount" value="{{ server_config_landclaim_count }}" />
  <!-- Maximum allowed land claims per player. -->

  <property name="BlockDamagePlayer" value="{{ server_config_block_damage_player }}" />
  <!-- How much damage do players to blocks (percentage in whole numbers) -->

  <property name="BlockDamageAI" value="{{ server_config_block_damage_ai }}" />
  <!-- How much damage do AIs to blocks (percentage in whole numbers) -->

  <property name="BlockDamageAIBM" value="{{ server_config_block_damage_aibm }}" />
  <!-- How much damage do AIs during blood moons to blocks (percentage in whole numbers) -->

  <property name="XPMultiplier" value="{{ server_config_xp_multiplier }}" />
  <!-- XP gain multiplier (percentage in whole numbers) -->

  <property name="BloodMoonEnemyCount" value="{{ server_config_blood_moon_enemy_count }}" />
  <!-- The number of zombies spawned during blood moons per player. -->

  <property name="EnemySpawnMode" value="{{ 'true' if server_config_enemy_spawning else 'false' }}" />
  <!-- Enable/Disable enemy spawning -->

  <property name="EnemyDifficulty" value="{{ server_config_enemy_difficulty }}" />
  <!-- 0 = Normal, 1 = Feral -->

  <property name="LootAbundance" value="{{ server_config_loot_abundance }}" />
  <!-- percentage in whole numbers -->

  <property name="LootRespawnDays" value="{{ server_config_loot_respawn_days }}" />
  <!-- days in whole numbers -->

  <property name="LandClaimSize" value="{{ server_config_landclaim_size }}" />
  <!-- Size in blocks that is protected by a keystone -->

  <property name="LandClaimDeadZone" value="{{ server_config_landclaim_deadzone }}" />
  <!-- Keystones must be this many blocks apart (unless you are friends with the other player) -->

  <property name="LandClaimExpiryTime" value="{{ server_config_landclaim_expiry_time }}" />
  <!-- The number of days a player can be offline before their claims expire and are no longer protected -->

  <property name="LandClaimDecayMode" value="{{ server_config_landclaim_decay_mode }}" />
  <!-- Controls how offline players land claims decay. All claims have full protection for the first 24hrs. 0=Linear, 1=Exponential, 2=Full protection until claim is expired. -->

  <property name="LandClaimOnlineDurabilityModifier" value="{{ server_config_landclaim_online_durability_modifier }}" />
  <!-- How much protected claim area block hardness is increased when a player is online. 0 means infinite (no damage will ever be taken). Default is 4x -->

  <property name="LandClaimOfflineDurabilityModifier" value="{{ server_config_landclaim_offline_durability_modifier }}" />
  <!-- How much protected claim area block hardness is increased when a player is offline. 0 means infinite (no damage will ever be taken). Default is 4x -->

  <property name="PartySharedKillRange" value="{{ server_config_party_shared_kill_range }}" />
  <!-- The distance you must be within to receive party shared kill xp and quest party kill objective credit. -->

  <property name="AirDropFrequency" value="{{ server_config_airdrop_frequency }}" />
  <!-- How often airdrop occur in game-hours, 0 == never -->

  <property name="AirDropMarker" value="{{ 'true' if server_config_airdrop_marker else 'false' }}" />
  <!-- Sets if a marker is added to map/compass for air drops. -->

  <property name="MaxSpawnedZombies" value="{{ server_config_max_spawned_zombies }}" />
  <!-- Making this number too large (more than about 80) may cause servers to run at poor framerates which will effect lag and play quality for clients. -->

  <!--
  If your server has a large number of players you can increase this limit to add more wildlife. Animals don't consume as much CPU as zombies.
  NOTE: That this doesn't cause more animals to spawn arbitrarily: The biome spawning system only spawns a certain number of animals in a given
  area, but if you have lots of players that are all spread out then you may be hitting the limit and can increase it.
  -->
  <property name="MaxSpawnedAnimals" value="{{ server_config_max_spawned_animals }}" />

  <property name="ServerMaxAllowedViewDistance" value="{{ server_config_max_allowed_view_distance }}" />
  <!-- Max viewdistance a client may request (6 - 12). High impact on memory usage and performance. -->

  <property name="EACEnabled" value="{{ 'true' if server_config_eac else 'false' }}" />
  <!-- Enables/Disables EasyAntiCheat -->

  <property name="HideCommandExecutionLog" value="0" />
  <!-- Hide logging of command execution. 0 = show everything, 1 = hide only from Telnet/ControlPanel, 2 = also hide from remote game clients, 3 = hide everything -->

  <property name="MaxUncoveredMapChunksPerPlayer" value="131072" />
  <!-- Override how many chunks can be uncovered on the ingame map by each player. Resulting max map file size limit per player is (x * 512 Bytes), uncovered area is (x * 256 m²). Default 131072 means max 32 km² can be uncovered at any time -->

  <property name="BedrollDeadZoneSize" value="{{ server_config_player_bedroll_deadzone_size }}" />
  <!-- Size of bedroll deadzone, no zombies will spawn inside this area, and any cleared sleeper volumes that touch a bedroll deadzone will not spawn after they've been cleared. -->

  <property name="BedrollExpiryTime" value="{{ server_config_player_bedroll_expiry_time }}" />
  <!-- Number of days a bedroll stays active after owner was last online -->

  <property name="SaveGameFolder" value="{{ server_savegame_dir }}" />
  <!-- use this to override the default save game path -->

  <property name="UserDataFolder" value="{{ server_savegame_dir }}" />
  <!-- this overrides where user data for the game is stored -->

  <property name="ServerLoginConfirmationText" value="" />
  <!-- If set the user will see the message during joining the server and has to confirm it before continuing -->

  <!-- There are several game settings that you cannot change when starting a new game.
  You can use console commands to change at least some of them ingame.
  setgamepref BedrollDeadZoneSize 30 -->
</ServerSettings>
